@import "colors";
@import "fonts";
@import "button";


html{
  background: url(corks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background-color: rgba(255,255,255,0.75);
  header, main{
    background-color: white;
  }
}

.page-header{
  margin-bottom: 0px;
}

h1{
  font-family:  'Italianno', cursive;
  font-size: 6rem;
  color: $darkred;
  padding-top:10px;
  // margin-top:0;
}

.subheading{
  font-family: 'Poiret One', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: $blush;
}

.form-group{
  margin-top: 10px;
  margin-bottom: 10px;
}

label{
  @extend .subheading;
  font-size: 2.5rem;
  font-weight: bold;
  color: $darkred;
}

#wineSearch{
  background-color: $lightbeige;
  color: $darkred;
  @extend .subheading;
  margin-bottom: .25em;
}
#inputWine{
  font-family: 'Italianno', cursive;
  font-size: 4.5rem;
  margin-top: 10px;
  word-spacing: .5em;
  color: $darkred;
}

.pairings{
  font-family: 'Poiret One', cursive;
  color: $darkred;
  padding-bottom:10px;
  h3{
    margin-top: 10px;
  }
  h4{
    font-size: 2.5rem;
    font-weight: bold;
  }
  p{
    font-size: 1.75rem;
    font-weight: bold;
  }
}

.not-found{
  color: $darkred;
  font-weight: bold;
}

#wine-class{
  font-family: 'Poiret One', cursive;
  color: $darkred;
  margin-bottom: 0;
}

.gouda{
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 2em;
  color: $blush;
}
