@import "colors";
@import "fonts";
@import "button";

h1{
  font-family:  'Italianno', cursive;
  font-size: 6rem;
}
.subheading{
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
}

label{
  @extend .subheading;
  font-size: 2.5rem;
  font-weight: bold;
}

#wineSearch{
  background-color: $lightbeige;
  color: $darkred;
  @extend .subheading;
  margin-bottom: .25em;
}
#inputWine{
  font-family: 'Italianno', cursive;
  font-size: 5rem;
  margin-top: 10px;
}
