$darkred: hsl(357, 50%, 20%);
$lightred: hsl(351, 25%, 43%);
$lightbeige:hsl(27, 53%, 67%);
$darkbeige: hsl(23, 47%, 45%);

.btn{
  color: $lightbeige;
  background-color:$darkred;
  &:hover{
    background-color: $lightred;
    color: $darkred;
  }
}
